boto3==1.17.47
Flask==1.1.2
flask-swagger-ui==3.36.0
psycopg2==2.8.6
pymongo==3.10.1
influxdb==5.2.3
gunicorn==20.1.0
python-jose==3.2.0
--extra-index-url https://rospypi.github.io/simple/ 
rospy
rosbag
flask[secure]
pylint